/*!************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/resources/sass/style.scss ***!
  \************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;800&display=swap);
/*!****************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/resources/sass/style.scss (1) ***!
  \****************************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  box-sizing: border-box; }

body {
  background-color: white; }

.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem; }
  .container h2 {
    margin-bottom: 1rem; }

.container-fluid {
  width: 100%;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem; }

.grid-explicit {
  display: grid;
  grid-template-columns: 50% 100px 1fr;
  grid-template-rows: 2rem 20vh 30%;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px; }
  .grid-explicit .item {
    background-color: green;
    width: 100%;
    height: 100%; }
  .grid-explicit .item:nth-child(10) {
    background-color: red;
    grid-row: 2 / 4;
    grid-column: 2 / 4; }
  .grid-explicit .item:nth-child(12) {
    background-color: crimson;
    grid-row: span 2;
    grid-column: span 2; }
  .grid-explicit .item:nth-child(16) {
    background-color: crimson;
    grid-row: 4 / span 3;
    grid-column: 3 / span 2; }

.gridLineName {
  display: grid;
  grid-template-columns: [line-c1] 1fr [line-c2] 1fr [line-c3] 1fr;
  grid-template-rows: [line-r1] 9rem [line-r2] 9rem [line-r3] 9rem; }
  .gridLineName__item {
    border: 1px solid orange; }
  .gridLineName__item:nth-child(3) {
    background-color: cyan;
    grid-column: line-c1 / line-c3;
    grid-row: line-r3 / line-r3; }

img {
  width: 100%;
  height: 100%; }

button {
  border: none;
  width: 100%;
  height: 100%; }
  button i {
    font-size: 21px; }
  button:hover {
    background-color: rebeccapurple;
    color: #fff; }

.calendarOptions {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 3rem;
  gap: 7px; }
  .calendarOptions input {
    border: 1px solid #e4d9d9;
    text-align: center;
    font-size: 18px; }
    .calendarOptions input:focus {
      outline: 1px solid #6daef0; }

.calendar {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(8, 3.5rem);
  gap: 3px; }
  .calendar__item {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    height: 3.5rem; }
    .calendar__item--head {
      background-color: rebeccapurple;
      color: #fff; }
    .calendar__item--festive {
      background-color: #e29536; }
      .calendar__item--festive:hover {
        background-color: #e29536; }
  .calendar__item:nth-child(1) {
    grid-column: span 7;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .calendar__item:nth-child(1) div i:hover {
      color: yellow; }

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 18rem);
  gap: 3px;
  border: 1px solid #e5dcee;
  border-radius: 10px; }
  .gallery__item img {
    border-radius: 10px; }
  .gallery__item:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1; }
  .gallery__item:nth-child(2) {
    grid-column: span 2;
    grid-row: span 1; }
  .gallery__item:nth-child(3) {
    grid-column: span 2;
    grid-row: span 1; }
  .gallery__item:nth-child(4) {
    grid-column: span 2;
    grid-row: span 1; }

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 4rem);
  gap: 5px; }
  .options__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ece6f3;
    border-radius: 12px; }
    .options__item:hover {
      background-color: #e29536; }
    .options__item i {
      font-size: 24px; }

.text-green {
  color: green; }

.text-red {
  color: red; }

.testimonials {
  background-color: #DDD7FA;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 10rem));
  grid-template-rows: repeat(auto-fit, minmax(10rem, 10rem));
  grid-auto-rows: 10rem;
  justify-content: center;
  padding: 2rem 0;
  gap: 1.3rem; }
  .testimonials__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; }
    .testimonials__item_img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover; }
    .testimonials__item_disable {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: #e1e1e1;
      opacity: .9;
      z-index: 8;
      color: #323232;
      display: flex;
      justify-content: center;
      align-items: center; }
      .testimonials__item_disable::before {
        content: 'No disponible'; }
    .testimonials__item p {
      position: absolute;
      top: 15px;
      left: -15px;
      text-transform: capitalize;
      font-weight: 500;
      letter-spacing: 2px;
      background-color: #e29536;
      color: #e5e5f7;
      width: 70%;
      text-align: center;
      transform: rotate(-45deg);
      z-index: 10; }

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #cbc9c9;
  border-radius: 20px;
  transition: all 0.3s; }
  .switch:after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    background-color: white;
    top: 1px;
    left: 1px;
    transition: all 0.3s; }

input[type='checkbox']:checked + .switch::after {
  transform: translateX(20px); }

input[type='checkbox']:checked + .switch {
  background-color: #7983ff; }

.offscreen {
  position: absolute;
  left: -9999px; }

@media only screen and (max-width: 750px) {
  .container {
    width: 98%; }
  .gallery {
    grid-template-rows: repeat(2, auto); }
    .gallery__item:nth-child(1) {
      grid-column: span 4;
      grid-row: span 4; }
    .gallery__item:nth-child(2) {
      grid-column: span 2;
      grid-row: span 2; }
    .gallery__item:nth-child(3) {
      grid-column: span 2;
      grid-row: span 2; }
    .gallery__item:nth-child(4) {
      grid-column: span 2;
      grid-row: span 2; } }

.profile {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  background-color: #DDD7FA;
  gap: 5px;
  background-color: #e5e5f7;
  background-image: url("https://cdn.pixabay.com/photo/2022/07/05/16/53/graz-7303533_960_720.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover; }
  .profile__item {
    display: flex;
    justify-content: center;
    align-items: center; }
  .profile__item_img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: left;
    border: 5px solid #7c4aaf;
    padding: 3px; }
  .profile__item:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 5px;
    padding: 1rem; }

.information {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 7px; }
  .information i {
    font-size: 1.5rem; }
  .information p {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: bold; }

footer {
  margin-top: 1rem;
  height: 10rem;
  background-color: #323232;
  color: #DDD7FA;
  display: flex;
  justify-content: center;
  align-items: center; }

.header {
  width: 100%;
  height: 4rem;
  background-color: white;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #b8b1bf;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  z-index: 10; }
  .header i {
    font-size: 2rem;
    color: #323232; }
  .header a {
    text-decoration: none;
    color: #323232; }
    .header a i {
      font-size: 2rem; }

.books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 200px;
  gap: 1rem; }
  .books__item {
    background-color: #9fa4f4;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; }
    .books__item_id {
      background-color: #fff;
      width: 2rem;
      height: 2rem;
      position: absolute;
      top: 5px;
      left: 5px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }

.sidebar {
  width: 23%;
  position: fixed;
  top: 0;
  bottom: 0;
  transition: all 1s ease;
  z-index: 100;
  border-right: 1px solid #dddddd;
  background-color: #e8e7fa; }
  .sidebar__close {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #dddddd;
    background: #ffffff; }
    .sidebar__close_title {
      width: 100%;
      height: 100%;
      text-align: center;
      color: rebeccapurple;
      font-size: 1.3rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      .sidebar__close_title span {
        font-weight: bold;
        color: #a97411; }
  .sidebar__content {
    height: 100%;
    display: grid;
    grid-template-rows: auto repeat(2, 1fr);
    gap: 1rem; }
  .sidebar__content:nth-child(2) {
    overflow: scroll; }

.sidebar--active {
  transform: translate(-105%);
  transition: all 1s ease; }

.block-scroll {
  overflow: hidden; }

@media only screen and (max-width: 1200px) {
  .sidebar {
    width: 70%; } }

.subtitle {
  display: inline-block;
  border-bottom: 1px solid black;
  color: #323232; }

.barcharts {
  min-width: 100%;
  height: 20rem;
  border-left: 1px solid #323232;
  border-bottom: 1px solid #323232;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll; }

.bar {
  margin-left: 5px;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  .bar__data {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #6b6767; }
  .bar__fill {
    background-color: #e29536;
    display: flex;
    justify-content: center;
    align-items: center; }
    .bar__fill--1 {
      height: 1%; }
    .bar__fill--2 {
      height: 2%; }
    .bar__fill--3 {
      height: 3%; }
    .bar__fill--4 {
      height: 4%; }
    .bar__fill--5 {
      height: 5%; }
    .bar__fill--6 {
      height: 6%; }
    .bar__fill--7 {
      height: 7%; }
    .bar__fill--8 {
      height: 8%; }
    .bar__fill--9 {
      height: 9%; }
    .bar__fill--10 {
      height: 10%; }
    .bar__fill--11 {
      height: 11%; }
    .bar__fill--12 {
      height: 12%; }
    .bar__fill--13 {
      height: 13%; }
    .bar__fill--14 {
      height: 14%; }
    .bar__fill--15 {
      height: 15%; }
    .bar__fill--16 {
      height: 16%; }
    .bar__fill--17 {
      height: 17%; }
    .bar__fill--18 {
      height: 18%; }
    .bar__fill--19 {
      height: 19%; }
    .bar__fill--20 {
      height: 20%; }
    .bar__fill--21 {
      height: 21%; }
    .bar__fill--22 {
      height: 22%; }
    .bar__fill--23 {
      height: 23%; }
    .bar__fill--24 {
      height: 24%; }
    .bar__fill--25 {
      height: 25%; }
    .bar__fill--26 {
      height: 26%; }
    .bar__fill--27 {
      height: 27%; }
    .bar__fill--28 {
      height: 28%; }
    .bar__fill--29 {
      height: 29%; }
    .bar__fill--30 {
      height: 30%; }
    .bar__fill--31 {
      height: 31%; }
    .bar__fill--32 {
      height: 32%; }
    .bar__fill--33 {
      height: 33%; }
    .bar__fill--34 {
      height: 34%; }
    .bar__fill--35 {
      height: 35%; }
    .bar__fill--36 {
      height: 36%; }
    .bar__fill--37 {
      height: 37%; }
    .bar__fill--38 {
      height: 38%; }
    .bar__fill--39 {
      height: 39%; }
    .bar__fill--40 {
      height: 40%; }
    .bar__fill--41 {
      height: 41%; }
    .bar__fill--42 {
      height: 42%; }
    .bar__fill--43 {
      height: 43%; }
    .bar__fill--44 {
      height: 44%; }
    .bar__fill--45 {
      height: 45%; }
    .bar__fill--46 {
      height: 46%; }
    .bar__fill--47 {
      height: 47%; }
    .bar__fill--48 {
      height: 48%; }
    .bar__fill--49 {
      height: 49%; }
    .bar__fill--50 {
      height: 50%; }
    .bar__fill--51 {
      height: 51%; }
    .bar__fill--52 {
      height: 52%; }
    .bar__fill--53 {
      height: 53%; }
    .bar__fill--54 {
      height: 54%; }
    .bar__fill--55 {
      height: 55%; }
    .bar__fill--56 {
      height: 56%; }
    .bar__fill--57 {
      height: 57%; }
    .bar__fill--58 {
      height: 58%; }
    .bar__fill--59 {
      height: 59%; }
    .bar__fill--60 {
      height: 60%; }
    .bar__fill--61 {
      height: 61%; }
    .bar__fill--62 {
      height: 62%; }
    .bar__fill--63 {
      height: 63%; }
    .bar__fill--64 {
      height: 64%; }
    .bar__fill--65 {
      height: 65%; }
    .bar__fill--66 {
      height: 66%; }
    .bar__fill--67 {
      height: 67%; }
    .bar__fill--68 {
      height: 68%; }
    .bar__fill--69 {
      height: 69%; }
    .bar__fill--70 {
      height: 70%; }
    .bar__fill--71 {
      height: 71%; }
    .bar__fill--72 {
      height: 72%; }
    .bar__fill--73 {
      height: 73%; }
    .bar__fill--74 {
      height: 74%; }
    .bar__fill--75 {
      height: 75%; }
    .bar__fill--76 {
      height: 76%; }
    .bar__fill--77 {
      height: 77%; }
    .bar__fill--78 {
      height: 78%; }
    .bar__fill--79 {
      height: 79%; }
    .bar__fill--80 {
      height: 80%; }
    .bar__fill--81 {
      height: 81%; }
    .bar__fill--82 {
      height: 82%; }
    .bar__fill--83 {
      height: 83%; }
    .bar__fill--84 {
      height: 84%; }
    .bar__fill--85 {
      height: 85%; }
    .bar__fill--86 {
      height: 86%; }
    .bar__fill--87 {
      height: 87%; }
    .bar__fill--88 {
      height: 88%; }
    .bar__fill--89 {
      height: 89%; }
    .bar__fill--90 {
      height: 90%; }
    .bar__fill--91 {
      height: 91%; }
    .bar__fill--92 {
      height: 92%; }
    .bar__fill--93 {
      height: 93%; }
    .bar__fill--94 {
      height: 94%; }
    .bar__fill--95 {
      height: 95%; }
    .bar__fill--96 {
      height: 96%; }
    .bar__fill--97 {
      height: 97%; }
    .bar__fill--98 {
      height: 98%; }
    .bar__fill--99 {
      height: 99%; }
    .bar__fill--100 {
      height: 100%; }
  .bar__label {
    min-height: 15%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .bar__label p {
      color: black;
      font-size: 12px;
      text-transform: capitalize;
      transform: rotate(-45deg); }

@media only screen and (min-width: 900px) {
  .profile__item:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 5px;
    padding: 1rem; } }

