.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    background-color: #fff;
    
    &__photo {
        margin-top: 5px;
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
    }

    &__data {
        margin-bottom: 1rem;
        p {
            margin-top: 1rem;
            span {
                font-weight: bold;
            }
        }
    }
    &__footer {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 1rem;
        i {
            font-size: 2rem;
            transition: all 1s ease;
            &:hover {
                color: rebeccapurple;
                cursor: pointer;
                transform: scale(1.2);
                transition: all 1s ease;
                border-bottom: 1px solid rgb(182, 14, 36);
            }
        }
    }
}
.profile--br0 {
    border-radius: 0;
}
img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}