<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/main.js" defer></script>
</head>

<body>
    <header class="header">
        <button class="btn-sei" id="btn-open">
            <i class="bi bi-arrow-right-short"></i>
        </button>
        <a href="./pages/login.html" style="color: aliceblue;">salir</a>
        <div class="notifications" data-bs-toggle="modal" href="#notificationsModalToggle" role="button">
            <i class="bi bi-bell-fill"></i>
        </div>
    </header>
    <sidebar class="sidebar sidebar--active" id="sidebar">
        <div class="sidebar__close">
            <div class="sidebar__close_title">
                <span>App</span>Test
            </div>
            <button class="btn-sei" id="btn-close">
                <i class="bi bi-arrow-left-short"></i>
            </button>
        </div>
        <div class="sidebar__content">
            <div class="sidebar__content_item">
                <div class="profileLine">
                    <div class="profileLine__img">
                        <div class="initials">
                            <p>JA</p>
                        </div>
                    </div>
                    <div class="profileLine__data">
                        <p class="profileLine__data_name">John Alejandro Hernandez</p>
                        <p class="profileLine__data_position">Ingeniero de sotfware</p>
                        <p class="profileLine__data_online"><i class="bi bi-circle-fill"></i>Online</p>
                    </div>
                </div>
            </div>
            <div class="sidebar__content_item">
                <ul class="list">
                    <li class="list__item">Profile</li>
                    <li class="list__item list__item--active">Navs</li>
                    <li class="list__item">Cards</li>
                    <li class="list__item">Modals</li>
                    <li class="list__item">Form</li>
                    <li class="list__item">Progress</li>
                </ul>
            </div>
            <div class="sidebar__content_item">

            </div>
        </div>
    </sidebar>

    <div class="container mt-2">
        <div class="container-grid">
            <div class="item">
                <div class="profile">
                    <div class="profile__photo">
                        <img src="https://cdn.pixabay.com/photo/2022/05/28/06/39/cat-7226671__340.jpg" alt="profile">
                    </div>
                    <div class="profile__data">
                        <p><span>Nombre: </span>John Alejandro Hernandez</p>
                        <p><span>Correo: </span>johnssther.alejandro@gmail.com</p>
                        <p><span>Telefono: </span>+57 3124224944</p>
                    </div>
                    <div class="profile__footer">
                        <i class="bi bi-twitch"></i>
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-chat-left-dots"></i>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="profile">
                    <div class="profile__photo">
                        <img src="https://cdn.pixabay.com/photo/2022/05/28/06/39/cat-7226671__340.jpg" alt="profile">
                    </div>
                    <div class="profile__data">
                        <p><span>Nombre: </span>John Alejandro Hernandez</p>
                        <p><span>Correo: </span>johnssther.alejandro@gmail.com</p>
                        <p><span>Telefono: </span>+57 3124224944</p>
                    </div>
                    <div class="profile__footer">
                        <i class="bi bi-twitch"></i>
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-chat-left-dots"></i>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="profile">
                    <div class="profile__photo">
                        <img src="https://cdn.pixabay.com/photo/2022/05/28/06/39/cat-7226671__340.jpg" alt="profile">
                    </div>
                    <div class="profile__data">
                        <p><span>Nombre: </span>John Alejandro Hernandez</p>
                        <p><span>Correo: </span>johnssther.alejandro@gmail.com</p>
                        <p><span>Telefono: </span>+57 3124224944</p>
                    </div>
                    <div class="profile__footer">
                        <i class="bi bi-twitch"></i>
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-chat-left-dots"></i>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="profile">
                    <div class="profile__photo">
                        <img src="https://cdn.pixabay.com/photo/2022/05/28/06/39/cat-7226671__340.jpg" alt="profile">
                    </div>
                    <div class="profile__data">
                        <p><span>Nombre: </span>John Alejandro Hernandez</p>
                        <p><span>Correo: </span>johnssther.alejandro@gmail.com</p>
                        <p><span>Telefono: </span>+57 3124224944</p>
                    </div>
                    <div class="profile__footer">
                        <i class="bi bi-twitch"></i>
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-chat-left-dots"></i>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="profile">
                    <div class="profile__photo">
                        <img src="https://cdn.pixabay.com/photo/2022/05/28/06/39/cat-7226671__340.jpg" alt="profile">
                    </div>
                    <div class="profile__data">
                        <p><span>Nombre: </span>John Alejandro Hernandez</p>
                        <p><span>Correo: </span>johnssther.alejandro@gmail.com</p>
                        <p><span>Telefono: </span>+57 3124224944</p>
                    </div>
                    <div class="profile__footer">
                        <i class="bi bi-twitch"></i>
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-chat-left-dots"></i>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="profile">
                    <div class="profile__photo">
                        <img src="https://cdn.pixabay.com/photo/2022/05/28/06/39/cat-7226671__340.jpg" alt="profile">
                    </div>
                    <div class="profile__data">
                        <p><span>Nombre: </span>John Alejandro Hernandez</p>
                        <p><span>Correo: </span>johnssther.alejandro@gmail.com</p>
                        <p><span>Telefono: </span>+57 3124224944</p>
                    </div>
                    <div class="profile__footer">
                        <i class="bi bi-twitch"></i>
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-chat-left-dots"></i>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="profile">
                    <div class="profile__photo">
                        <img src="https://cdn.pixabay.com/photo/2022/05/28/06/39/cat-7226671__340.jpg" alt="profile">
                    </div>
                    <div class="profile__data">
                        <p><span>Nombre: </span>John Alejandro Hernandez</p>
                        <p><span>Correo: </span>johnssther.alejandro@gmail.com</p>
                        <p><span>Telefono: </span>+57 3124224944</p>
                    </div>
                    <div class="profile__footer">
                        <i class="bi bi-twitch"></i>
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-chat-left-dots"></i>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="profile">
                    <div class="profile__photo">
                        <img src="https://cdn.pixabay.com/photo/2022/05/28/06/39/cat-7226671__340.jpg" alt="profile">
                    </div>
                    <div class="profile__data">
                        <p><span>Nombre: </span>John Alejandro Hernandez</p>
                        <p><span>Correo: </span>johnssther.alejandro@gmail.com</p>
                        <p><span>Telefono: </span>+57 3124224944</p>
                    </div>
                    <div class="profile__footer">
                        <i class="bi bi-twitch"></i>
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-chat-left-dots"></i>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="profile">
                    <div class="profile__photo">
                        <img src="https://cdn.pixabay.com/photo/2022/05/28/06/39/cat-7226671__340.jpg" alt="profile">
                    </div>
                    <div class="profile__data">
                        <p><span>Nombre: </span>John Alejandro Hernandez</p>
                        <p><span>Correo: </span>johnssther.alejandro@gmail.com</p>
                        <p><span>Telefono: </span>+57 3124224944</p>
                    </div>
                    <div class="profile__footer">
                        <i class="bi bi-twitch"></i>
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-chat-left-dots"></i>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="profile">
                    <div class="profile__photo">
                        <img src="https://cdn.pixabay.com/photo/2022/05/28/06/39/cat-7226671__340.jpg" alt="profile">
                    </div>
                    <div class="profile__data">
                        <p><span>Nombre: </span>John Alejandro Hernandez</p>
                        <p><span>Correo: </span>johnssther.alejandro@gmail.com</p>
                        <p><span>Telefono: </span>+57 3124224944</p>
                    </div>
                    <div class="profile__footer">
                        <i class="bi bi-twitch"></i>
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-chat-left-dots"></i>
                    </div>
                </div>
            </div>
            <div class="item">
                
            </div>
            <div class="item">
                <div class="profile">
                    <div class="profile__photo">
                        <img src="https://cdn.pixabay.com/photo/2022/05/28/06/39/cat-7226671__340.jpg" alt="profile">
                    </div>
                    <div class="profile__data">
                        <p><span>Nombre: </span>John Alejandro Hernandez</p>
                        <p><span>Correo: </span>johnssther.alejandro@gmail.com</p>
                        <p><span>Telefono: </span>+57 3124224944</p>
                    </div>
                    <div class="profile__footer">
                        <i class="bi bi-twitch"></i>
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-chat-left-dots"></i>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="profile">
                    <div class="profile__photo">
                        <img src="https://cdn.pixabay.com/photo/2022/05/28/06/39/cat-7226671__340.jpg" alt="profile">
                    </div>
                    <div class="profile__data">
                        <p><span>Nombre: </span>John Alejandro Hernandez</p>
                        <p><span>Correo: </span>johnssther.alejandro@gmail.com</p>
                        <p><span>Telefono: </span>+57 3124224944</p>
                    </div>
                    <div class="profile__footer">
                        <i class="bi bi-twitch"></i>
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-chat-left-dots"></i>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="profile">
                    <div class="profile__photo">
                        <img src="https://cdn.pixabay.com/photo/2022/05/28/06/39/cat-7226671__340.jpg" alt="profile">
                    </div>
                    <div class="profile__data">
                        <p><span>Nombre: </span>John Alejandro Hernandez</p>
                        <p><span>Correo: </span>johnssther.alejandro@gmail.com</p>
                        <p><span>Telefono: </span>+57 3124224944</p>
                    </div>
                    <div class="profile__footer">
                        <i class="bi bi-twitch"></i>
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-chat-left-dots"></i>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="profile">
                    <div class="profile__photo">
                        <img src="https://cdn.pixabay.com/photo/2022/05/28/06/39/cat-7226671__340.jpg" alt="profile">
                    </div>
                    <div class="profile__data">
                        <p><span>Nombre: </span>John Alejandro Hernandez</p>
                        <p><span>Correo: </span>johnssther.alejandro@gmail.com</p>
                        <p><span>Telefono: </span>+57 3124224944</p>
                    </div>
                    <div class="profile__footer">
                        <i class="bi bi-twitch"></i>
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-chat-left-dots" id="open-modal"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal_content">
        <div class="modal" id="modal">
            <div class="modal__header">
                <p>modal</p>
                <i class="bi bi-x" id="modal-close"></i>
            </div>
        </div>
    </div>
</body>

</html>