<div class="container">
    <div class="profile">
        <div class="profile__item">
            <img class="profile__item_img"
                src="https://cdn.pixabay.com/photo/2021/11/25/12/47/tulips-6823523__340.jpg"
                alt="">
        </div>
        <div class="profile__item">
            <div class="information">
                <i class="bi bi-bag-dash-fill"></i>
                <p>10</p>
            </div>
            <div class="information">
                <i class="bi bi-pin"></i>
                <p>16</p>
            </div>
            <div class="information">
                <i class="bi bi-person-fill"></i>
                <p>42</p>
            </div>
            <div class="information">
                <i class="bi bi-person-fill"></i>
                <p>11</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <input type="checkbox" id="toggle" class="offscreen" />
    <label for="toggle" class="switch"></label>
</div>
<div class="container">
    <div class="options">
        <div class="options__item">
            <i class="bi bi-bell"></i>
        </div>
        <div class="options__item">
            <i class="bi bi-cart"></i>
        </div>
        <div class="options__item">
            <i class="bi bi-battery-half"></i>
        </div>
        <div class="options__item">
            <i class="bi bi-chat-left-text"></i>
        </div>
    </div>
</div>
<div class="container">
    <!-- <h2 class="subtitle">Calendar</h2>
        <div class="calendarOptions">
            <input type="text" placeholder="Ingrese un año" id="year">
            <button id="yearSearch"><i class="bi bi-search"></i></button>
            <button id="datePrevious"><i class="bi bi-arrow-left"></i></button>
            <button id="dateLater"><i class="bi bi-arrow-right"></i></button>
        </div> -->
</div>
<div class="container">
    <div class="calendar" id="calendar">
        <div class="calendar__item calendar__item--head">
            <div id="month_year">
                -- --
            </div>
        </div>

        <div class="calendar__item calendar__item--head">Lunes</div>
        <div class="calendar__item calendar__item--head">Martes</div>
        <div class="calendar__item calendar__item--head">Miercoles</div>
        <div class="calendar__item calendar__item--head">Jueves</div>
        <div class="calendar__item calendar__item--head">Viernes</div>
        <div class="calendar__item calendar__item--head">Sabado</div>
        <div class="calendar__item calendar__item--head">Domingo</div>
        <div class="calendar__item">1</div>
        <div class="calendar__item">2</div>
        <div class="calendar__item">1</div>
        <div class="calendar__item">2</div>
    </div>
</div>
<div class="container">
    <div class="calendarOptions">
        <input type="text" placeholder="Ingrese un año" id="year">
        <button id="yearSearch"><i class="bi bi-search"></i></button>
        <button id="datePrevious"><i class="bi bi-arrow-left"></i></button>
        <button id="dateLater"><i class="bi bi-arrow-right"></i></button>
    </div>
</div>

<div class="container">
    <h2 class="subtitle">Gallery</h2>
    <div class="gallery">
        <div class="gallery__item">
            <img src="https://cdn.pixabay.com/photo/2021/11/25/12/47/tulips-6823523__340.jpg" alt="">
        </div>
        <div class="gallery__item">
            <img src="https://cdn.pixabay.com/photo/2020/03/24/20/59/america-4965498__340.jpg" alt="">
        </div>
        <div class="gallery__item">
            <img src="https://cdn.pixabay.com/photo/2022/05/17/18/36/flower-7203443__340.jpg" alt="">
        </div>
        <div class="gallery__item">
            <img src="https://cdn.pixabay.com/photo/2022/06/19/04/25/cat-7271017__340.jpg" alt="">
        </div>
        <div class="gallery__item">
            <img src="https://cdn.pixabay.com/photo/2022/05/31/06/24/bird-7232808__340.jpg" alt="">
        </div>
        <div class="gallery__item">
            <img src="https://cdn.pixabay.com/photo/2022/01/16/12/47/market-6941922__340.jpg" alt="">
        </div>
        <div class="gallery__item">
            <img src="https://cdn.pixabay.com/photo/2021/11/25/12/47/tulips-6823523__340.jpg" alt="">
        </div>
        <div class="gallery__item">
            <img src="https://cdn.pixabay.com/photo/2020/03/24/20/59/america-4965498__340.jpg" alt="">
        </div>
        <div class="gallery__item">
            <img src="https://cdn.pixabay.com/photo/2022/05/17/18/36/flower-7203443__340.jpg" alt="">
        </div>
        <div class="gallery__item">
            <img src="https://cdn.pixabay.com/photo/2022/06/19/04/25/cat-7271017__340.jpg" alt="">
        </div>
        <div class="gallery__item">
            <img src="https://cdn.pixabay.com/photo/2022/05/31/06/24/bird-7232808__340.jpg" alt="">
        </div>
        <div class="gallery__item">
            <img src="https://cdn.pixabay.com/photo/2022/01/16/12/47/market-6941922__340.jpg" alt="">
        </div>
        <div class="gallery__item">
            <img src="https://cdn.pixabay.com/photo/2021/11/25/12/47/tulips-6823523__340.jpg" alt="">
        </div>
        <div class="gallery__item">
            <img src="https://cdn.pixabay.com/photo/2020/03/24/20/59/america-4965498__340.jpg" alt="">
        </div>
        <div class="gallery__item">
            <img src="https://cdn.pixabay.com/photo/2021/11/25/12/47/tulips-6823523__340.jpg" alt="">
        </div>
        <div class="gallery__item">
            <img src="https://cdn.pixabay.com/photo/2020/03/24/20/59/america-4965498__340.jpg" alt="">
        </div>
        <div class="gallery__item">
            <img src="https://cdn.pixabay.com/photo/2022/05/17/18/36/flower-7203443__340.jpg" alt="">
        </div>
        <div class="gallery__item">
            <img src="https://cdn.pixabay.com/photo/2022/06/19/04/25/cat-7271017__340.jpg" alt="">
        </div>
        <div class="gallery__item">
            <img src="https://cdn.pixabay.com/photo/2022/05/31/06/24/bird-7232808__340.jpg" alt="">
        </div>
        <div class="gallery__item">
            <img src="https://cdn.pixabay.com/photo/2022/01/16/12/47/market-6941922__340.jpg" alt="">
        </div>
        <div class="gallery__item">
            <img src="https://cdn.pixabay.com/photo/2021/11/25/12/47/tulips-6823523__340.jpg" alt="">
        </div>
        <div class="gallery__item">
            <img src="https://cdn.pixabay.com/photo/2020/03/24/20/59/america-4965498__340.jpg" alt="">
        </div>
        <div class="gallery__item">
            <img src="https://cdn.pixabay.com/photo/2022/05/17/18/36/flower-7203443__340.jpg" alt="">
        </div>
        <div class="gallery__item">
            <img src="https://cdn.pixabay.com/photo/2022/06/19/04/25/cat-7271017__340.jpg" alt="">
        </div>
        <div class="gallery__item">
            <img src="https://cdn.pixabay.com/photo/2022/05/31/06/24/bird-7232808__340.jpg" alt="">
        </div>
        <div class="gallery__item">
            <img src="https://cdn.pixabay.com/photo/2022/01/16/12/47/market-6941922__340.jpg" alt="">
        </div>
        <div class="gallery__item">
            <img src="https://cdn.pixabay.com/photo/2021/11/25/12/47/tulips-6823523__340.jpg" alt="">
        </div>
        <div class="gallery__item">
            <img src="https://cdn.pixabay.com/photo/2020/03/24/20/59/america-4965498__340.jpg" alt="">
        </div>

    </div>
</div>
<div class="container">
    <h2 class="subtitle">Testimonials</h2>
    <div class="testimonials">
        <div class="testimonials__item">
            <img class="testimonials__item_img"
                src="https://cdn.pixabay.com/photo/2015/11/26/00/14/woman-1063100_960_720.jpg" alt="">
        </div>
        <div class="testimonials__item">
            <img class="testimonials__item_img"
                src="https://cdn.pixabay.com/photo/2015/01/08/18/29/entrepreneur-593358_960_720.jpg" alt="">
        </div>
        <div class="testimonials__item">
            <img class="testimonials__item_img"
                src="https://cdn.pixabay.com/photo/2014/07/31/22/50/photographer-407068_960_720.jpg" alt="">
        </div>
        <div class="testimonials__item">
            <img class="testimonials__item_img"
                src="https://cdn.pixabay.com/photo/2017/02/16/23/10/smile-2072907_960_720.jpg" alt="">
        </div>
        <div class="testimonials__item">
            <img class="testimonials__item_img"
                src="https://sites.google.com/site/platotipicodesanjosedechaltura/_/rsrc/1387235954777/home/historia-del-cuy/CUYD.jpg?height=266&width=400"
                alt="">
        </div>
        <div class="testimonials__item">
            <img class="testimonials__item_img"
                src="https://cdn.pixabay.com/photo/2018/02/16/14/38/portrait-3157821_960_720.jpg" alt="">
        </div>
        <div class="testimonials__item">
            <img class="testimonials__item_img"
                src="https://cdn.pixabay.com/photo/2016/05/03/16/10/morning-1369446_960_720.jpg" alt="">
        </div>
    </div>
</div>
<div class="container">
    <h2 class="subtitle">Charts</h2>
    <div class="barcharts">
        <div class="bar">
            <div class="bar__data">
                100%
            </div>
            <div class="bar__fill bar__fill--100">
            </div>
            <div class="bar__label">
                <p>enero</p>
            </div>
        </div>
        <div class="bar">
            <div class="bar__data">
                78%
            </div>
            <div class="bar__fill bar__fill--78">
            </div>
            <div class="bar__label">
                <p>febrero</p>
            </div>
        </div>
        <div class="bar">
            <div class="bar__data">
                56%
            </div>
            <div class="bar__fill bar__fill--56">
            </div>
            <div class="bar__label">
                <p>marzo</p>
            </div>
        </div>
        <div class="bar">
            <div class="bar__data">
                11%
            </div>
            <div class="bar__fill bar__fill--11">
            </div>
            <div class="bar__label">
                <p>abril</p>
            </div>
        </div>
        <div class="bar">
            <div class="bar__data">
                15%
            </div>
            <div class="bar__fill bar__fill--15">
            </div>
            <div class="bar__label">
                <p>mayo</p>
            </div>
        </div>
        <div class="bar">
            <div class="bar__data">
                36%
            </div>
            <div class="bar__fill bar__fill--36">
            </div>
            <div class="bar__label">
                <p>junio</p>
            </div>
        </div>
        <div class="bar">
            <div class="bar__data">
                1%
            </div>
            <div class="bar__fill bar__fill--1">
            </div>
            <div class="bar__label">
                <p>julio</p>
            </div>
        </div>
        <div class="bar">
            <div class="bar__data">
                23%
            </div>
            <div class="bar__fill bar__fill--23">
            </div>
            <div class="bar__label">
                <p>agosto</p>
            </div>
        </div>
        <div class="bar">
            <div class="bar__data">
                100%
            </div>
            <div class="bar__fill bar__fill--100">
            </div>
            <div class="bar__label">
                <p>septiembre</p>
            </div>
        </div>
        <div class="bar">
            <div class="bar__data">
                78%
            </div>
            <div class="bar__fill bar__fill--78">
            </div>
            <div class="bar__label">
                <p>octubre</p>
            </div>
        </div>
        <div class="bar">
            <div class="bar__data">
                56%
            </div>
            <div class="bar__fill bar__fill--56">
            </div>
            <div class="bar__label">
                <p>noviembre</p>
            </div>
        </div>
        <div class="bar">
            <div class="bar__data">
                11%
            </div>
            <div class="bar__fill bar__fill--11">
            </div>
            <div class="bar__label">
                <p>diciembre</p>
            </div>
        </div>
        <div class="bar">
            <div class="bar__data">
                15%
            </div>
            <div class="bar__fill bar__fill--15">
            </div>
            <div class="bar__label">
                <p>enero 2022</p>
            </div>
        </div>
        <div class="bar">
            <div class="bar__data">
                36%
            </div>
            <div class="bar__fill bar__fill--36">
            </div>
            <div class="bar__label">
                <p>febrero 2022</p>
            </div>
        </div>
        <div class="bar">
            <div class="bar__data">
                1%
            </div>
            <div class="bar__fill bar__fill--1">
            </div>
            <div class="bar__label">
                <p>marzo 2022</p>
            </div>
        </div>
        <div class="bar">
            <div class="bar__data">
                23%
            </div>
            <div class="bar__fill bar__fill--23">
            </div>
            <div class="bar__label">
                <p>abril_2022</p>
            </div>
        </div>
    </div>
</div>
<footer>
    Copyright © 2022 John A. Hernandez
</footer>