@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  margin-top: 1rem;
}

.grid-explicit {
  display: grid;
  grid-template-columns: 50% 100px 1fr;
  grid-template-rows: 2rem 20vh 30%;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
}
.grid-explicit .item {
  background-color: green;
  width: 100%;
  height: 100%;
}
.grid-explicit .item:nth-child(10) {
  background-color: red;
  grid-row: 2/4;
  grid-column: 2/4;
}
.grid-explicit .item:nth-child(12) {
  background-color: crimson;
  grid-row: span 2;
  grid-column: span 2;
}
.grid-explicit .item:nth-child(16) {
  background-color: crimson;
  grid-row: 4/span 3;
  grid-column: 3/span 2;
}

.gridLineName {
  display: grid;
  grid-template-columns: [line-c1] 1fr [line-c2] 1fr [line-c3] 1fr;
  grid-template-rows: [line-r1] 9rem [line-r2] 9rem [line-r3] 9rem;
}
.gridLineName__item {
  border: 1px solid orange;
}
.gridLineName__item:nth-child(3) {
  background-color: cyan;
  grid-column: line-c1/line-c3;
  grid-row: line-r3/line-r3;
}

img {
  width: 100%;
  height: 100%;
}

button {
  border: none;
  width: 100%;
  height: 100%;
}
button i {
  font-size: 21px;
}
button:hover {
  background-color: rebeccapurple;
  color: #fff;
}

.calendarOptions {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 3rem;
  gap: 7px;
}
.calendarOptions input {
  border: 1px solid rgb(228, 217, 217);
  text-align: center;
  font-size: 18px;
}
.calendarOptions input:focus {
  outline: 1px solid rgb(109, 174, 240);
}

.calendar {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(8, 3.5rem);
  gap: 3px;
}
.calendar__item {
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  height: 3.5rem;
}
.calendar__item--head {
  background-color: rebeccapurple;
  color: #fff;
}
.calendar__item--festive {
  background-color: #e29536;
}
.calendar__item--festive:hover {
  background-color: #e29536;
}
.calendar__item:nth-child(1) {
  grid-column: span 7;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.calendar__item:nth-child(1) div i:hover {
  color: yellow;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 18rem);
  gap: 3px;
  border: 1px solid rgb(229, 220, 238);
  border-radius: 10px;
}
.gallery__item img {
  border-radius: 10px;
}
.gallery__item:nth-child(1) {
  grid-column: span 2;
  grid-row: span 1;
}
.gallery__item:nth-child(2) {
  grid-column: span 2;
  grid-row: span 1;
}
.gallery__item:nth-child(3) {
  grid-column: span 2;
  grid-row: span 1;
}
.gallery__item:nth-child(4) {
  grid-column: span 2;
  grid-row: span 1;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 4rem);
  gap: 5px;
}
.options__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 230, 243);
  border-radius: 12px;
}
.options__item:hover {
  background-color: #e29536;
}
.options__item i {
  font-size: 24px;
}

.text-green {
  color: green;
}

.text-red {
  color: red;
}

.testimonials {
  background-color: #DDD7FA;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 10rem));
  grid-template-rows: repeat(auto-fit, minmax(10rem, 10rem));
  grid-auto-rows: 10rem;
  justify-content: center;
  padding: 2rem 0;
  gap: 1rem;
}
.testimonials__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials__item_img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

@media only screen and (max-width: 750px) {
  .container {
    width: 98%;
  }

  .gallery {
    grid-template-rows: repeat(2, auto);
  }
  .gallery__item:nth-child(1) {
    grid-column: span 4;
    grid-row: span 4;
  }
  .gallery__item:nth-child(2) {
    grid-column: span 2;
    grid-row: span 2;
  }
  .gallery__item:nth-child(3) {
    grid-column: span 2;
    grid-row: span 2;
  }
  .gallery__item:nth-child(4) {
    grid-column: span 2;
    grid-row: span 2;
  }
}
.profile {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  background-color: #DDD7FA;
  gap: 5px;
}
.profile__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile__item_img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid rgb(124, 74, 175);
  padding: 3px;
}
.profile__item:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 5px;
  padding: 1rem;
}

.information {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 7px;
}
.information i {
  font-size: 2rem;
}
.information p {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: bold;
}

footer {
  margin-top: 1rem;
  height: 10rem;
  background-color: #323232;
  color: #DDD7FA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: 4rem;
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgb(184, 177, 191);
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
}
.header i {
  font-size: 2rem;
  color: #323232;
}
.header a {
  text-decoration: none;
  color: #323232;
}
.header a i {
  font-size: 2rem;
}

.sidebar {
  width: 23%;
  position: fixed;
  top: 0;
  bottom: 0;
  transition: all 1s ease;
  z-index: 10;
  border-right: 1px solid rgb(221, 221, 221);
  background-color: #fff;
}
.sidebar__close {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid rgb(221, 221, 221);
  background: #ffffff;
}
.sidebar__close_title {
  width: 100%;
  height: 100%;
  text-align: center;
  color: rebeccapurple;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar__close_title span {
  font-weight: bold;
  color: rgb(169, 116, 17);
}
.sidebar__content {
  height: 100%;
  display: grid;
  grid-template-rows: auto repeat(2, 1fr);
  gap: 1rem;
}

.sidebar--active {
  transform: translate(-105%);
  transition: all 1s ease;
}

@media only screen and (max-width: 1200px) {
  .sidebar {
    width: 70%;
  }
}
.subtitle {
  display: inline-block;
  border-bottom: 1px solid black;
  color: #323232;
}

@media only screen and (min-width: 900px) {
  .profile__item:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 5px;
    padding: 1rem;
  }
}/*# sourceMappingURL=style.css.map */