body {
    background-color: rgb(223, 229, 235);
}

.grid-container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto repeat(3, 1fr);
    gap: 1rem;
    &__item {
        text-align: center;
    }
    &__item1 {
        grid-column: 1 / 5;
    }
    &__itemForm {
        grid-column: 1 / 4;
        grid-row: 2 / 4;
    }
}

@media only screen and (max-width: 900px) {
    .grid-container {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto repeat(3, 1fr);
        gap: 1rem;
        &__item {
            text-align: center;
        }
        &__item1 {
            grid-column: 1 / 2;
        }
    }
}