button {
    border: none;
    width: 100%;
    height: 100%;

    i {
        font-size: 21px;
    }

    &:hover {
        background-color: rebeccapurple;
        color: #fff;
    }
}

.calendarOptions {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 3rem;
    gap: 7px;

    input {
        border: 1px solid rgb(228, 217, 217);
        text-align: center;
        font-size: 18px;

        &:focus {
            outline: 1px solid rgb(109, 174, 240);
            ;
        }
    }
}

.calendar {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, 3.5rem);
    gap: 3px;

    &__item {
        background-color: bisque;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 9px;
        height: 3.5rem;

        &--head {
            background-color: rebeccapurple;
            color: #fff;
        }

        &--festive {
            background-color: #e29536;

            &:hover {
                background-color: #e29536;
            }
        }
    }

    &__item:nth-child(1) {
        grid-column: span 7;
        font-size: 24px;
        font-weight: bold;
        display: flex;
        justify-content: space-around;
        align-items: center;

        div {
            i:hover {
                color: yellow;
            }
        }
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 18rem);
    gap: 3px;
    border: 1px solid rgb(229, 220, 238);
    border-radius: 10px;

    &__item {
        img {
            border-radius: 10px;
        }
    }

    &__item:nth-child(1) {
        grid-column: span 2;
        grid-row: span 1;
    }

    &__item:nth-child(2) {
        grid-column: span 2;
        grid-row: span 1;
    }

    &__item:nth-child(3) {
        grid-column: span 2;
        grid-row: span 1;
    }

    &__item:nth-child(4) {
        grid-column: span 2;
        grid-row: span 1;
    }
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 4rem);
    gap: 5px;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(236, 230, 243);
        border-radius: 12px;

        &:hover {
            background-color: #e29536;
        }

        i {
            font-size: 24px;
        }
    }
}

.text-green {
    color: green;
}

.text-red {
    color: red;
}

.testimonials {
    background-color: #DDD7FA;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 10rem));
    grid-template-rows: repeat(auto-fit, minmax(10rem, 10rem));
    grid-auto-rows: 10rem;
    justify-content: center;
    padding: 2rem 0;
    gap: 1.3rem;

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        &_img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
        &_disable {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: #e1e1e1;
            opacity: .9;
            z-index: 8;
            color: #323232;
            display: flex;
            justify-content: center;
            align-items: center;
            &::before {
                content: 'No disponible';
            }
        }
        p {
            position: absolute;
            top: 15px;
            left: -15px;
            text-transform: capitalize;
            font-weight: 500;
            letter-spacing: 2px;
            background-color: #e29536;
            color: #e5e5f7;
            width: 70%;
            text-align: center;
            transform: rotate(-45deg);
            z-index: 10;
        }
    }
}

// switch
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #cbc9c9;
    border-radius: 20px;
    transition: all 0.3s;
    &:after {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 18px;
        background-color: white;
        top: 1px;
        left: 1px;
        transition: all 0.3s;
      }
  }
  
  input[type='checkbox']:checked + .switch::after {
    transform: translateX(20px);
  }
  
  input[type='checkbox']:checked + .switch {
    background-color: #7983ff;
  }
  
  .offscreen {
    position: absolute;
    left: -9999px;
  }

//   /switch

@media only screen and (max-width: 750px) {
    .container {
        width: 98%;
    }

    .gallery {
        grid-template-rows: repeat(2, auto);

        &__item:nth-child(1) {
            grid-column: span 4;
            grid-row: span 4;
        }

        &__item:nth-child(2) {
            grid-column: span 2;
            grid-row: span 2;
        }

        &__item:nth-child(3) {
            grid-column: span 2;
            grid-row: span 2;
        }

        &__item:nth-child(4) {
            grid-column: span 2;
            grid-row: span 2;
        }
    }

}

.profile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    background-color: #DDD7FA;
    gap: 5px;
    // pattern
    background-color: #e5e5f7;
    // background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#444cf7 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #444cf7 2px, #e5e5f7 2px) -1px 0;
    // background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
    background-image: url('https://cdn.pixabay.com/photo/2022/07/05/16/53/graz-7303533_960_720.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item_img {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: left;
        border: 5px solid rgb(124, 74, 175);
        padding: 3px;
    }

    &__item:nth-child(2) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 5px;
        padding: 1rem;
    }
}

.information {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 7px;

    i {
        font-size: 1.5rem;
    }

    p {
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        font-weight: bold;
    }
}

footer {
    margin-top: 1rem;
    height: 10rem;
    background-color: #323232;
    color: #DDD7FA;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    width: 100%;
    height: 4rem;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgb(184, 177, 191);
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    z-index: 10;
    i {
        font-size: 2rem;
        color: #323232;
    }
    a {
        text-decoration: none;
        color: #323232;
        i {
            font-size: 2rem;
        }
    }
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 200px;
    gap: 1rem;
    &__item {
        background-color: #9fa4f4;
        padding: 1rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        &_id {
            background-color: #fff;
            width: 2rem;
            height: 2rem;
            position: absolute;
            top: 5px;
            left: 5px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.sidebar {
    width: 23%;
    position: fixed;
    top: 0;
    bottom: 0;
    transition: all 1s ease;
    z-index: 100;
    border-right: 1px solid rgb(221, 221, 221);
    background-color: rgb(232, 231, 250);

    &__close {
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-bottom: 1px solid rgb(221, 221, 221);
        background: #ffffff;
        &_title {
            width: 100%;
            height: 100%;
            text-align: center;
            color: rebeccapurple;
            font-size: 1.3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                font-weight: bold;
                color: rgb(169, 116, 17);
            }
        }
    }

    &__content {
        height: 100%;
        display: grid;
        grid-template-rows: auto repeat(2, 1fr);
        gap: 1rem;
    }
    &__content:nth-child(2) {
        overflow: scroll;
    }
}

.sidebar--active {
    transform: translate(-105%);
    transition: all 1s ease;
}
.block-scroll {
    overflow:hidden;
}

@media only screen and (max-width: 1200px) {
    .sidebar {
        width: 70%;
    }
}

.subtitle {
    display: inline-block;
    border-bottom: 1px solid black;
    color: #323232;
}

.barcharts {
    min-width: 100%;
    height: 20rem;
    border-left: 1px solid #323232;
    border-bottom: 1px solid #323232;
    display: flex;
    flex-wrap: nowrap;
    // justify-content: space-evenly;
    overflow-x: scroll; 
}
.bar {
    margin-left: 5px;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &__data {
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: #6b6767;
    }
    &__fill {
        background-color: #e29536;
        display: flex;
        justify-content: center;
        align-items: center;
        @for $i from 1 through 100 {
            &--#{$i} {
                height: #{$i+'%'};
            }
        }
    }
    &__label {
        min-height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            color: rgb(0, 0, 0);
            font-size: 12px;
            text-transform: capitalize;
            transform: rotate(-45deg);
        }
    }
}

@media only screen and (min-width: 900px) {
    .profile {
        &__item:nth-child(2) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(1, auto);
            gap: 5px;
            padding: 1rem;
        }
    }
}